nav{
    margin-left: 80px;
    margin-top: 80px;
    position: fixed;
    }
    nav ul, li{
    margin: 0;
    padding: 0;
    }
    nav ul{
    width: 800px;
    height: 260px;
    }
    nav ul li{
    list-style-type: none;
    width: 20%;
    text-align: center; 
    line-height: 40px;
    }
    nav ul li a{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.9rem;
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
    }
    nav ul li a:hover{
    color: gray;
    transition: all 0.3s;
    }
    body, h2, p{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    }
    h1{
    margin: 0;
    padding-left: 100px;
    font-weight: 100;
    }
    img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    }
    h1{
    text-align: center;
    padding-top: 250px;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    }
    h2{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.7;
    word-spacing: -1px;
    letter-spacing: -1px;
    text-align: center;
    }
    h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.1rem;
    font-weight: 900;
    line-height: 1.7;
    word-spacing: -1px;
    letter-spacing: -1px;
    }
    p{
    margin-bottom: 15px;
    font-size: 1.08rem;
    line-height: 1.7;
    font-weight: 300;
    word-spacing: -0.8px;
    letter-spacing: -0.8px;
    }

    footer p{
    margin-top: 300px;
    text-align: center;
    }
    div a{
    display: inline-block;
    background: none;
    width: 192px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 3px gray;
    color: black;
    }
    div a:hover{
    background: #c7b8e0;
    box-shadow: none;
    color: white;
    transition: all 0.5s;
    }
    div ul,li{
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 1.08rem;
    line-height: 1.7;
    font-weight: 300;
    word-spacing: -0.8px;
    letter-spacing: -0.8px;
    }
    div ul{
    margin-bottom: 30px;
    }
    div ul li{
    margin-left: 20px;
    list-style-type: decimal-leading-zero;
    list-style-position: outside;
    padding-left: 20px;
    }
    .row{width: 1000px;
    height: auto;
    margin-left: 300px;
    word-break: keep-all;
    margin-bottom: 90px;
    display: flex;
    padding: 0px 5px;
    }

    .display{width: 1000px;
        height: auto;
        margin-left: 300px;
        word-break: keep-all;
        margin-bottom: 90px;
        display: flex;
        padding: 0px 5px;
        }

    .text-align-center{text-align: center; font-size: 1.6rem; font-weight: 500; margin-top: 15px; margin-left: 80px;}
    .col-1{width: 90px; margin: 0px 5px;}
    .col-2{width: 190px; margin: 0px 5px;}
    .col-3{width: 290px; margin: 0px 5px;}
    .col-4{width: 390px; margin: 0px 5px;}
    .col-5{width: 490px; margin: 0px 5px;}
    .col-6{width: 590px; margin: 0px 5px;}
    .col-7{width: 690px; margin: 0px 5px;}
    .col-8{width: 790px; margin: 0px 5px;}
    .text-red{color: red; font-weight: 500;}
    .text-white{color: white;}
    .textbox{font-size: 1.08rem; font-weight: 500;}
    .text-ref{font-size: 1rem; font-weight: 400;}
