<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>SeHwa's Record Shop</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
	<header>
		<nav style="margin-top: 31px">
			<ul>
				<li>
					<a href="{% url 'main' %}" style="font-weight: 700; font-size: 1rem;">Record</a>
				</li>
				<li>
					<a href="{% url 'login' %}">Login</a>
				</li>
				<li>
					<a href="{% url 'join' %}">Join</a>
				</li>
				<li>
					<a href="{% url 'cart' %}">Cart</a>
				</li>
				<li>
					<a href="{% url 'pop_hiphop' %}">POP - HipHop</a>
				</li>
				<li>
					<a href="{% url 'pop_rnb' %}">POP - RnB</a>
				</li>
				<li>
					<a href="{% url 'kpop_indi' %}">KPOP - Indi</a>
				</li>
				<li>
					<a href="{% url 'kpop_hiphop' %}">KPOP - HipHop</a>
				</li>
				<li>
					<a href="{% url 'ost' %}">OST</a>
				</li>
			</ul>
		</nav>

	</header>

    <section style="margin-top: 90px;">
		<div class="row">
			<div class="col-8">
				<h3 style=" color: orange;">KPOP - INDI</h3>
			</div>
		</div>	
	</section>
	<section style="margin-top: -30px;">
		<div class="display" style="">
			<div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost1.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">흔들리는 꽃들 속에서 <br>네 샴푸향이 느껴진거야</h5>
                        <p style="text-align:center;"class="card-text">장범준<br/>10,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>

            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost2.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">괜찮아 사랑이야</h5>
                        <p style="text-align:center;"class="card-text"><br/>다비치<br/>12,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost3.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">Ship and Globe</h5>
                        <p style="text-align:center;"class="card-text"><br/>Kae Sun<br/>9,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
        </div>
        <div class="display" style="">
			<div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost4.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">시작</h5>
                        <p style="text-align:center;"class="card-text"><br/>가호<br/>11,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>

            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost5.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">Beautiful</h5>
                        <p style="text-align:center;"class="card-text"><br/>크러쉬<br/>20,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost6.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">사랑은<br/>눈꽃처럼</h5>
                        <p style="text-align:center;"class="card-text"><br/>Xia<br/>19,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
        </div>
        
        <div class="display" style="">
			<div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost7.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">아로하</h5>
                        <p style="text-align:center;"class="card-text"><br>조정석<br/>14,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>

            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost8.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">City of Star</h5>
                        <p style="text-align:center;"class="card-text"><br/>Justin Hurwitz<br/>8,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost9.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">Photograph</h5>
                        <p style="text-align:center;"class="card-text"><br/>Ed Sheeren<br/>9,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
        </div>
        <div class="display" style="">
			<div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost10.png'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">Can't take my<br>eyes off of you</h5>
                        <p style="text-align:center;"class="card-text">Lauryn Hill<br/>10,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>

            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost11.png'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">This is me</h5>
                        <p style="text-align:center;"class="card-text"><br/>Kesha<br/>9,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
            <div class="col-4" style="margin: 13px;">
				<div class="card" style="width: 18rem;">
                    <img src="{% static 'img/ost12.jpg'%}" class="card-img-top" alt="albumcover">
                    <div class="card-body">
                        <h5 style="text-align:center;" class="card-title">See you again</h5>
                        <p style="text-align:center;"class="card-text"><br/>Wiz Kahalifa<br/>11,000won</p>
                        <a href="{% url 'cart'%}" style="margin-left:30px;">Cart</a>
                    </div>
                </div>
			</div>
        </div>
	</section>

	<footer style="margin-left : 200px;margin-bottom:100px;margin-top:-100px;">
		<section>
				<p class="text-ref" style="font-weight: 500">ⓒ 2020. 충북대학교 소프트웨어학과 최세화 All Rights Reserved.</p>
		</section>		
	</footer>
</body>
</html>
